.avatar {
  border-radius: 100%;
  width: 215px;
  margin-top: 20px;
}

.profile-container {
  text-align: center;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio > button {
  margin: 5px !important;
}

.name {
  margin: 5px;
  font-size: 25px;
}
.profile {
  display: flex;
  justify-content: center;
}

.posts {
  flex: 1 0 0;
}
